[Unit]
Description=Change battery settings to AC
ConditionACPower=true
ConditionEnvironment=HYPRLAND_INSTANCE_SIGNATURE 

[Service]
Type=oneshot
ExecStart=%h/.config/hypr/scripts/gamemode.sh 0
