[core]
    editor = code --wait
	
[user]
    name = kamack38
    email = 64226248+kamack38@users.noreply.github.com
    signingkey = C4583B304CDA4CA0

[commit]
    gpgsign = true

[tag]
    gpgSign = true

[alias]
    dtf = !git --git-dir=$HOME/.dotfiles --work-tree=$HOME
    alias = !git config --list | grep ^alias\\. | cut -c 7- | grep -Ei --color \"$1\" "#"
    gconfig = !git config --global
    commits = !git log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    unstage = restore --staged
    s = status -s
    b = branch -a
    co = checkout
    cm = !git cz && git push
    pon = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
    quickhelp = "!{ \
            echo stash - create stash; \
            echo clean - revert file to current commit; \
          };"

# URL shorthands

# Github
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
    insteadOf = "github:"

# Gist
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
    insteadOf = "gist:"

# Gitlab
[url "git@gitlab.com:"]
    insteadOf = "gl:"
    pushInsteadOf = "gitlab:"
    pushInsteadOf = "git://gitlab.com/"

[url "git://gitlab.com/"]
    insteadOf = "gitlab:"

[color]
    ui = true

[help]
    autocorrect = 1

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = OneHalfDark
    navigate = true
    line-numbers = true
    side-by-side = true

[interactive]
    diffFilter = delta --color-only
[init]
    defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
