[Desktop Entry]
Type=Application
Exec=polybar km38-top
Icon=dialog-scripts
Hidden=false
Name=Polybar Top Bar
Comment=Run polybar top bar
X-KDE-AutostartScript=true
